html, body, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f6f7;
}
p {
    font-family: 'Acme', sans-serif;
}

a {
    text-decoration: none;
    margin: 0 10px;
}

header {
    margin: 0 auto;
    padding: 15px 15%;
    display: flex;
    align-items: center;
}

    .logo {
        width: 40%;
    }

    .head {
        background-color: #ffffff;
        box-shadow: 0px 2px 5px 1px #E0E0E0;
    }

nav {
    width: 60%;
    text-align: right;
}

nav a:link,
nav a:visited {
    color: #ff9999;
}

nav a:hover,
nav a:active {
    color: #9E2120;
    -webkit-transition-duration: 0.33s;
            transition-duration: 0.33s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-property: background-color,border-color,color,text-shadow,fill;
            transition-property: background-color,border-color,color,text-shadow,fill;
}

ul .fa {
    margin: 0 10px;
    font-size: 1.66em;
}

main {
    width: 100%;
    margin: 50px auto;
    margin-bottom: 0;
    box-sizing: border-box;
    text-align: center;
}

main h1, main h3 {
    font-family: 'Alegreya Sans', sans-serif;
}

li {
    margin: 0 15px;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 1em;
    font-weight: 800;
}

form {
    margin: 50px auto;
    width: 50%;
}

form label {
    display: block;
    padding-bottom: 10px;
    font-family: 'Acme', sans-serif;
    text-align: left;
    text-transform: uppercase;
}

form h3 {
    display: block;
    text-align: left;
    font-family: 'Acme', sans-serif;
    font-size: 1.66em;
    font-weight: 500;
    color: #6699ff;
    text-transform: uppercase;
}

form .left {
    float: left;
    width: 45%;
}

form .right {
    float: right;
    width: 45%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea,
#performance {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 15px;
  display: block;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  resize: none;
}

input[type="range"] {
    width: 90%;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

button {
    width: 50%;
    margin-top: 20px;
    background-color: #6699ff;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 3em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: #3377ff;
}

footer {
    padding: 2% 20%;
    background: #a0f8d5;
}

.jumbotron {
    width: 20%;
    margin: -25% 20% 0 0;
    float: right;
    color: #ffffff;
    font-size: 1.25em;
    text-align: right;
}

@media (max-height: 900px) {
    .jumbotron {
        width: 33%;
        margin: -28% 18% 0 0;
        float: right;
        color: #ffffff;
        font-size: 1.25em;
        text-align: right;
    }
}


.jumbotron span {
    color: #ffa29b;
}

.jumbotron p {
    font-size: 0.9em;
}

.bluray-promo {
    margin: 100px auto;
}

.bluray-promo h1 {
    text-transform: uppercase;
}

.bluray-promo img {
    display: inline-block;
    margin: 50px;
    height: 360px;
}

.season4-promo {
    height: 75vh;
    background-image: url('https://i.imgur.com/xQdSB1z.jpg');
    background-size: cover;
    box-sizing: border-box;
}

.container {
    padding: 10% 0;
    color: #ffffff;
    line-height: 3em;
}

.container h1 {
    margin-top: 0;
    font-size: 3.5em;
    text-transform: uppercase;
}

.container h3 {
    font-size: 2em;
    text-transform: uppercase;
}

.container p {
    font-size: 1.2em;
}

.broadcast img {
    margin: 0 10px;
    max-width: 2.5%;
}

.contact-page-title {
    font-family: 'Amatica SC', 'Acme', 'Open Sans', sans-serif;
    font-size: 3em;
    color: #ff9999;
    line-height: 1.5;
}

.form-wrapper, .shop-wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.ordersection {
    max-width: 1280px;
    margin: 0 auto;
}

.item-season {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    max-height: 480px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px #AFAFAF;
}

.season-image {
    max-width: 20%;
    line-height: 0;
}

.season-image img {
    width: 100%;
}

.season-details {
    flex: 3;
    padding: 25px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

.season-details h1 {
    margin: 0 0 0.5em 0;
}

.season-details a {
    margin: auto;
    text-decoration: underline;
}

.season-details .description {
    text-align: justify;
}

.season-details #price {
    color: #9e2120;
}

.season-purchase {
    min-width: 20%;
    border-left: 1px solid #afafaf;
}

.season-purchase label {
    margin: 25px 0 5px;
    text-align: left;
}

.order-form {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.order-form section {
    margin: 25px 25px 35px 25px;
    text-align: left;
    font-size: 1em;
}

.order-form button {
    width: 80%;
    text-align: center;
    margin: 0 25px 25px;
    padding: 10px 25px;
    border-radius: 0;
}

.order-form input[type="radio"] {
    margin: 0 10px 0 50px;
}

.order-form .price-display {
    margin: 25px;
    font-family: 'Acme', 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
}

.order-form #price-s1,
.order-form #price-s2,
.order-form #price-s3 {
    font-family: 'Acme', 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #9e2120;
}

#total-price {
    font-family: 'Acme', 'Open Sans', sans-serif;
    font-size: 2em;
    color: #9e2120;
}

.order-form #dvd {
    margin-left: 0px;
}

.order-form #quantity-s1,
.order-form #quantity-s2,
.order-form #quantity-s3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    width: 100%;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

.order-subtotal {
    border: 2px solid blue;
}

.plm-digital {
    padding: 5% 20%;
    background-color: #fff99e;
}

.plm-digital h1 {
    margin-top: 0;
    font-family: 'Alegreya Sans', 'Acme', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #ffa29b;
    letter-spacing: 1.5px;
    word-spacing: 15px;
    line-height: 1.5em;
}

.plm-digital img {
  height: 64px;
  margin: 0 10px;
}

.socialmedia {
    margin: 0 auto;
    text-align: center;
}

.socialmedia h1 {
    font-family: 'Acme', sans-serif;
    word-spacing: 10px;
}

.socialmedia img {
    max-height: 32px;
    margin: 0 5px;
}

.cb {
    clear: both;
}

.cart-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 0 auto;
}

th {
    margin-bottom: 10px;
}

tr {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

td {
    line-height: 3em;
    border-top: 1px #ccc solid;
}

.product-list {
    width: 40%;
}

.format-list,
.price-list,
.qty-list,
.total-list {
    width: 10%;
}

.cart-details {
    display: flex;
    margin: 50px auto;
    width: 60%;
    box-shadow: 0px 2px 5px 0px #AFAFAF;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
.shipping {
    flex: 1.5;
    font-family: 'Open Sans', sans-serif;
    border-right: 1px solid #AFAFAF;
}

.summary {
    flex: 1;
}

.shipping h1,
.summary h1 {
    margin: 0 auto;
    padding: 20px 0 10px 0;
}

.shipping input[type="radio"] {
    margin: 15px;
    margin-left: 30px;
}

.shipping-opt {
    text-align: left;
}

.summary a {
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
    background-color: #6699ff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 3em;
    text-transform: uppercase;
    cursor: pointer;
}

.info {
    display: flex;
}

.title {
    display: block;
    flex: 1;
    margin-left: 20px;
    text-align: left;
    text-transform: uppercase;
    line-height: 2em;
}

.price {
    display: block;
    flex: 1;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    line-height: 2em;
}

.title li {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 1em;
}

#jumbotron-pic {
    margin-top: -116px;
    background-image: url('https://i.imgur.com/pR4eNjb.jpg');
    background-size: cover;
    height: 75vh;
    position: relative;
    z-index: -1;
    -webkit-filter: brightness(66%);
            filter: brightness(66%);
}

#store {
    display: block;
    width: 25%;
    margin: 20px auto;
    background-color: #6699ff;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 3em;
    text-transform: uppercase;
    cursor: pointer;
}

#store:hover,
#store:active {
    background-color: #3377ff;
    -webkit-transition-duration: 0.33s;
            transition-duration: 0.33s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-property: background-color,border-color,color,text-shadow,fill;
            transition-property: background-color,border-color,color,text-shadow,fill;
}

#not-flex {
    float: left;
    margin-bottom: 30px;
}

#flex {
    padding-left: 15px;
    margin-bottom: 30px;
}

#super-flex {
    float: right;
    margin-bottom: 30px;
}
